@import url("https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  max-width: 100%;
  scroll-behavior: smooth;
}
