.header {
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: start;
  gap: 100px;
  padding-left: 400px;
  font-size: 20px;

  .navigate {
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  .navigate::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.804);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .navigate:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
