.wrapper {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  .leftSide {
    width: 50vw;
    display: flex;
    margin-top: 225px;
    flex-direction: column;
    align-items: start;
    padding-left: 150px;
    .textBlock {
      .staticText {
        font-size: 90px;
        font-weight: 900;
        color: white;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.475);
      }
      .typingText {
        font-size: 75px;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        font-weight: 700;
        color: #386fa4;
        text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.475);
        letter-spacing: 2px;
      }

      .cursor {
        display: inline-block;
        animation: blink 0.7s step-start infinite;
        color: #386fa4;
        font-weight: bold;
      }
    }

    .button {
      padding: 30px 40px;
      color: white;
      text-decoration: none;
      font-size: 30px;
      border: 1px solid #91e5f6;
      font-weight: 500;
      margin-top: 100px;
      border-radius: 30px;
      transition: 0.3s ease-in-out;
    }
    .button:hover {
      background-color: #25517b;
      border-radius: 15px;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }

  .rightSide {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    .imageBlock {
      width: 700px;
      height: 700px;
      border-radius: 50%;
      background: #1a5370;
      background: linear-gradient(
        325deg,
        rgba(26, 83, 112, 1) 0%,
        rgba(5, 52, 79, 1) 100%
      );
      box-shadow: 20px 30px 10px 0px rgb(18, 97, 157),
        -30px 50px 10px 0px rgba(37, 77, 147, 0.607),
        -70px -70px 10px 0px rgba(27, 75, 178, 0.311);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      .image {
        border-radius: 50%;
        object-fit: cover;
        width: 100%;
        filter: grayscale(1);
      }
    }
    .image {
      border-radius: 50%;
      filter: grayscale(1);
    }
  }
}
